:root {
  --navyblue: #228cd3;
  --midnightgreen: #0D5C63;
  --middleblue: #78CDD7;
  --richblack: #071013;
  --ashgray: #A9B2AC; 
}

body {
  margin: 0;
  color: white;
  text-align: center;
  font-family: 'Titillium Web';
  background-color: var(--richblack);
}

h1, h2, h3 {
  margin-top: 0;
  font-family: 'Major Mono Display';
}

.top-container {
  position: relative;
  padding-top: 100px;
}

.middle-container {  
  background-color: var(--richblack);
}

.bottom-container {  
  background-color: var(--richblack);
}

.CS {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 35%;
  top: 5%;

}

.bottom-cloud {
  position: absolute;
  left: 35%;
  bottom: 55%;

}